<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ config.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        {% for item in config.extra.menu %}
            <a href="{{ item.url }}" style="margin-right: 1em;">{{ item.name }}</a>
        {% endfor %}
    </nav>
    <hr>

    {{ page.content | safe }}
</body>
    <!-- Footer -->
    <footer style="text-align: center; font-size: 0.8em; color: #777; margin-top: 2em;">
        Made with ❤️ using <a href="https://www.getzola.org/" target="_blank" style="color: #6b8e23;">Zola</a>
    </footer>
</html>

